*{
    margin: 0%;
    padding: 0%;
}
.header{
    margin:0%;
    padding: 5%;
    background-color:steelblue ;
    color: white;
    text-align: center;
    
}
.div1{
    text-align: center;
    background-color: white;
    margin: 5%;
    color: grey;
    padding: 4%;
    
}
.bodystyle{
    background-color:rgb(229, 226, 238);
}
.div2{
    margin: 5%;
    background-color: rgb(238, 234, 182);
    color: rgb(129, 125, 59);
    padding: 2%;
}
.footer{
    background-color: black;
    color: grey;
    text-align: center;
    padding: 3%;
}

.div1 h1{
    color:rgb(21, 21, 155) ;
}