*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: blue;
}
h3{
    color:yellow
}
.text-grey{
    color: gray !important;
}
#h4style{
    color:brown
}

.div-style{
    background-color: black;
    color: white;
    width: 50%;
    font: size 20px;
    padding : 2% 2% 2% 2%;
    padding: 2% 2%;
    padding: 2% 3% 4%;
}
.cutom-margin{
    margin-top: 50%;
    margin-left: 8%;
}
body,h6, p {
    margin: 0%;
}
.titleStyle{
    text-align: center;
    margin-bottom: 4%;


}
.cardInfo{
    margin-left: 3%;
    

}
.card img{
    width:100%;
}
.card{
    margin: 0%;
    width: 30%;
    margin-left: 5%;
    color: green;
    padding: 0%;
    border: 2px solid red;
}
.border{
    border: 2px solid;
    width: 30%;
    padding: 5%;
    margin: 3% auto;
    border-radius: 10px 50px 50px 50px;
}

.images{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
